.App {
  text-align: center;
  background-image: url("./WeatherTrackerImage.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: rgb(149, 196, 218);
  background-color: #cccccc;

}

.App-title {
  font-size: 2.5em;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.inputfield {
  width: 400px;
  height: 60px;

}

div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.search {
  width: 150px;
  height: 50px;
  background-color: darkgray;
}

.input {
  width: 500px;
  height: 50px;
  border-radius: 15px;
  font-size: 20px;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-size: 20px;
  opacity: .4;
}

.input-header {
 margin-bottom: 10px;
}