.App {
  text-align: center;
  background-color: rgb(32, 32, 80);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: rgb(149, 196, 218);
  background-color: #cccccc;

}

.nav_bar {
  background-color: rgb(32, 32, 80);
  margin-bottom: 40px;
}

.App-title {
  width: 100%;
  height: 60%;
  font-size: 1.5em;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background-color: whitesmoke;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.dashboard {
  background-image: url("./WeatherTrackerImage.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.inputfield {
  width: 400px;
  height: 60px;

}

div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.search {
  width: 100px;
  height: 55px;
  background-color: darkgray;
  border-radius: 7px;
  margin-left: 20px;
  font-size: 14px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.input {
  width: 500px;
  height: 50px;
  border-radius: 15px;
  font-size: 20px;
}

input_div{
  margin-top: 40px;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-size: 20px;
  opacity: .4;
}

.weather-card{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  background-color: aliceblue;
  width: 350px;
  height: 350px;
  margin-top: 40px;
  margin-right: auto;
  margin-bottom: 40px;
  margin-left: auto;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.weather_card_title {
  margin-bottom: 0px;
  margin-top: 5px;
}

.weathertext {
  font-size: 60px;
  margin-top: 0px;
  margin-bottom: 20px;
}


.headline{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 30px;
  background-color: white;
  border-radius: 7px;
  margin-top: 0px;
  margin-bottom: 5px;
  margin-left: auto;
  margin-right: auto;
  width: 800px;
}

.weather_news {
display: flex;
flex-direction: row;
justify-content: space-around;
align-items: top;
}

.displaynews {
  background-color: transparent;
  border-radius: 7px;
}

.headline {
  font-family: 'Times New Roman', Times, serif;
  font-size: 18px;
}

.full_story {
  font-size: 12px;
}

.news_list {
  background-color: whitesmoke;
  border-radius: 7px;
}

.top_stories {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background-color: darkred;
  margin-top: 0px;
}